body{
	background-color: white;
	background-image:url('exact.jpg');
	background-repeat:no-repeat;
	background-size: cover;}

.first{
	width:100%;
	height:100px;
	background-color:#f0f5f5;
}
.main{
	height:300px;
	width:900px;	
	margin-left:205px;
	margin-top:5px;	
}
button:hover{
	cursor:pointer;
	}

.ww{
	background-image:url("reg.jpg");
	width:100%;
	font-size:20px;
	background-color:#4dc3ff;
	color:white;
	font-weight:bold;   
	text-align:center;
    radius:2px;
    width:400px;
    //margin-left: 450px;
	height:30px;
	color:white;
}